<a href="https://colab.research.google.com/github/yauheniyakarabliova/Mathshub/blob/main/YK_of_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_PY_Lesson_14_%D0%A4%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Функции в Python

## Определение функции

In [ ]:
def mult_two(x):
  return x * 2

#mult_two_1(7)

result = mult_two(5)
print(result)
mult_two(5)

10

10

**Важно!** Сначала объявляем функцию, затем вызываем ее!

In [ ]:
mult_two(7)

14

In [ ]:
def special_print(special_string):
  """Вот так можно написать специальный комментарий для функции"""
  print(f'{special_string} прямо сейчас на экране, вау!')

special_print('Этот код')
result = special_print('Этот код')
print(result)

Этот код прямо сейчас на экране, вау!
Этот код прямо сейчас на экране, вау!
None

In [ ]:
import sys

sys.getsizeof("""""")

78

In [ ]:
set_example = {1,2,3}

In [ ]:
def fib(n): # числа Фибоначчи до n
    """Возвращает список чисел Фибоначчи до n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a + b
    return result


fibonachi = fib(100) # вызываем функцию
fibonachi

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
name = 'Максим'
age = '18'
date = '22-02-2023'
print('Привет!')
print(f'Твое имя: {name}')
print(f'Твой возраст: {age}')
print(f'Используй этот промокод на скидку до: {date}')

Привет!
Твое имя: Максим
Твой возраст: 18
Используй этот промокод на скидку до: 22-02-2023

In [ ]:
def promocode_printing(name, age, date):
  print('Привет')
  print(f'Твое имя: {name}')
  print(f'Твой возраст: {age}')
  print(f'Используй этот промокод на скидку до: {date}')

promocode_printing('Олег', '22', '22-03-2023')

Привет
Твое имя: Олег
Твой возраст: 22
Используй этот промокод на скидку до: 22-03-2023

In [ ]:
def promocode_printing(name, age, date):
  return 'Привет\n',f'Твое имя: {name}\n',f'Твой возраст: {age}\n',f'Используй этот промокод на скидку до: {date}\n'

promocode_printing('Олег', '22', '22-03-2023')

('Привет/n',
 'Твое имя: Олег/n',
 'Твой возраст: 22/n',
 'Используй этот промокод на скидку до: 22-03-2023/n')

## Области видимости



*   local
*   nonlocal
* global

In [ ]:
x = 10 #глобальная пееременная

def test():
  x = 5 #локальная переменная
  x += 1
  print(x)

print(x)
test()

10
6

In [ ]:
def scope_test():
    def do_local():
        test = "local test"

    def do_nonlocal():
        nonlocal test
        test = "nonlocal test"

    def do_global():
        global test
        test = "global test"

    test = "test spam"
    do_local()
    print("После локального присваивания:", test)
    do_nonlocal()
    print("После нелокального присваивания:", test)
    do_global()
    print("После глобального присваивания:", test)

scope_test()
print("В глобальной области видимости:", test)

После локального присваивания: test spam
После нелокального присваивания: nonlocal test
После глобального присваивания: nonlocal test
В глобальной области видимости: global test

In [ ]:
#глобальная область видимости
candy = 5

def get_candy():
    global candy 
    candy += 1
    print(f'У меня {candy}  конфет.')
    
get_candy()
print(candy)
get_candy()
print(candy)

У меня 6  конфет.
6
У меня 7  конфет.
7

In [ ]:
#нелокальная область видимости
def get_candy():
    candy = 5
    def increment_candy(): 
        nonlocal candy
        candy += 1
        return candy
    return increment_candy
    
result = get_candy()()
print(f'Всего {result} конфет.')

Всего 6 конфет.

## Аргументы

In [ ]:
#позиционные аргументы
example_list = [1,4,5]
example_string = 'Hello!'
def position_arguments(argument_1,argument_2):
  print(argument_1)
  print(argument_2)

#position_arguments(example_list,example_string)
position_arguments('Hello!',[1,4,5])

Hello!
[1, 4, 5]

In [ ]:
#именованные аргументы
def print_info(name='Вася',surname='Петров'):
  print(name,surname)

print_info()
#print_info('Петя','Иванов')
print_info(surname='Иванов', name='Петя')

Вася Петров
Петя Иванов

In [ ]:
#необязательные параметры
def test_arg(y,x='Good'):
  print(x,y)

test_arg(10)

test_arg(45,5)

Good 10
5 45

In [ ]:
#аргументы переменной длины
def changeable(*args):
  print(args)

def changeable_too(**kwargs):
  print(kwargs)

changeable(1,'2','hello',[92,36])
changeable_too(first='nothing', second='else', third='matters')

(1, '2', 'hello', [92, 36])
{'first': 'nothing', 'second': 'else', 'third': 'matters'}

In [ ]:
#неизменяемые объекты передаются в функцию по значению
#числовые типы данных, строки, кортежи

num = 42

def some_function(n):
    # в "n" передается значение переменной num (42)
    n = n + 10
    print(n)


some_function(num)
print(num)  # "num" по прежнему содержит 42

52
42

In [ ]:
#изменяемые объекты передаются в фукнцию по ссылке
#списки, множества, словари

num = [42, 43, 44]

def some_function(n):
    # в "n" передается ссылка на переменную "num". 
    # "n" и "num" ссылаются на один и тот же объект
    n[0] = 0
    print(n)


some_function(num)
print(num)  # "num" изменился

[0, 43, 44]
[0, 43, 44]

In [ ]:
#словарь для аргументов
def arg_dict(**arguments):
    print(arguments)

arg_dict(key='value')

{'key': 'value'}

## return

In [ ]:
#можно возвращать сразу несколько значений

def sum_func(a,b):
  return a,b,a+b

sum_func(5,4) #будет возвращен кортеж

(5, 4, 9)

In [ ]:
def sum_func(a,b):
  return a,b,a+b

a, b, sum = sum_func(5,4) #должно совпадать количество переменных и количество возвращаемых значений
#a, b, sum = (5, 4, 9)
print(a, b, sum)

5 4 9

In [ ]:
#пустая функция

def a_little_bit_later():
  pass

## Аннотация типов*

In [ ]:
def mult(a: int, b: int) -> float: #интерпретатор считывает аннотации типов, но никак их не обрабатывает
    return a * b

mult(5.0, 6)

30.0

## Время выполнения фукнции*

In [ ]:
from datetime import datetime
import time

start_time = datetime.now()
mult(5, 6)
time.sleep(5)

print(datetime.now() - start_time)

0:00:05.002328

## Вложенные фукнции и рекурсия

In [ ]:
def outerFunc():
    def firstInner():
        print('This is first inner function')

    def secondInner():
        print('This is second inner function')

    firstInner()
    secondInner()

outerFunc()

This is first inner function
This is second inner function

**Рекурсия** - фукнция может вызвать не только другую фукнцию, но и саму себя

Плюсы: сокращается количество кода, выше производительность   
Минусы: замедление работы, если рекурсия реализована неправильно

In [ ]:
def sum_from_one(num):
    if num == 1:
        return 1
    return num + sum_from_one(num - 1)


print(sum_from_one(2))

3

In [ ]:
def factorial_recursive(n):
    if n == 1:
        return n
    else:
        return n*factorial_recursive(n-1)

factorial_recursive(3)

6

### Как это работает?

```
# Первый вызов
factorial_recursive(3):
    if 3 == 1:
        return 3
    else:
        return 3*factorial_recursive(3-1)

# Второй вызов
factorial_recursive(2):
    if 2 == 1:
        return 2
    else:
        return 2*factorial_recursive(2-1)

# Третий вызов
factorial_recursive(1):
    if 1 == 1:
        return 1
    else:
        return 1*factorial_recursive(1-1)

```

## Задачи

Напишите функцию, которая будет определять количество различных чисел в списке

In [ ]:
def unique_numbers(numbers_list):
  return len(set(numbers_list))

example_list = [5,4,6,2,2,7,5,3,9,2,3,9] 
unique_numbers(example_list)

7

Даны четыре действительных числа: x1, y1, x2, y2. Напишите функцию distance(x1, y1, x2, y2), вычисляющая расстояние между точкой (x1,y1) и (x2,y2). Считайте четыре действительных числа и выведите результат работы этой функции.

In [ ]:
from math import sqrt
 
def distance(x1, y1, x2, y2):
    return sqrt((x1 - x2) ** 2 + (y1 - y2) ** 2)
 
x1 = float(input())
x2 = float(input())
y1 = float(input())
y2 = float(input())
print(distance(x1, x2, y1, y2))

3
4
5
6
2.8284271247461903

Дано действительное положительное число a и целоe число n. Вычислите a**n. Решение оформите в виде функции power(a, n). Стандартной функцией возведения в степень пользоваться нельзя.

In [ ]:
def power(a, n):
    res = 1
    for i in range(abs(n)):
        res *= a
    if n >= 0:
        return res
    else:
        return 1 / res
 
print(power(float(input()), int(input())))

5
-1
0.2

Напишите функцию sum_range(start, end), которая суммирует все целые числа от значения «start» до величины «end» включительно. 
Если пользователь задаст первое число большее чем второе, просто поменяйте их местами.

In [ ]:
def sum_range(start, end):
    if start > end:
        end, start = start, end
    return sum(range(start, end + 1))

print(sum_range(2, 12))
print(sum_range(-4, 4))
print(sum_range(3, 2))

77
0
5