<a href="https://colab.research.google.com/github/yauheniyakarabliova/Mathshub/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B5%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_3_YK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Домашнее задание №3

Во всех задачах для ввода данных используйте `input()`, а для вывода данных используйте `print()`

## Задача №1

**Условие:** Необходимо ввести с клавиатуры последовательность натуральных чисел, каждое число на новой строке. Последовательность завершается числом 0. Необходимо найти наибольший элемент в последовательности.

**Пример для проверки:**  
*Входные данные*     
1                       
8  
4  
0  
*Выходные данные*   
8

In [ ]:
a = int(input())
lis = []
while a != 0:
  lis.append(a)
  a = int(input())
print(max(lis))

1
8
4
0
8

## Задача №2

**Условие:** Дана строка. Необходимо удалить из этой строки все символы %. Для решения задачи используйте цикл.

**Пример для проверки:**  
*Входные данные*  
GHRE%%%%fd%dfjkan%%fleo%%%%r%fe%  
*Выходные данные*  
GHREfddfjkanfleorfe

In [ ]:
#solution 1 using cycle "for"
example_str = input()
result = ''
for i in example_str:
  if i != "%":
    result += i
print(result)

GHRE%%%%fd%dfjkan%%fleo%%%%r%fe%
GHREfddfjkanfleorfe

In [ ]:
#solution 2 using built-in method replace()
#replace() can be used for strings only
print(input().replace("%",""))

GHRE%%%%fd%dfjkan%%fleo%%%%r%fe%
GHREfddfjkanfleorfe

## Задача №3

**Условие:** Даны два целых числа A и B (при этом A ≤ B). Выведите все числа от A включительно до B включительно (математическая запись - [A, B]).

**Пример для проверки:**  
*Входные данные*  
1  
10  
*Выходные данные*  
1 2 3 4 5 6 7 8 9 10

In [ ]:
a = int(input())
b = int(input())
for i in range (a, b +1):
  print(i, end = " ") #print(i, end = " ") >> end is separator when you want to print results in one line

1
20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

## Задача №4

**Условие:** Необходимо ввести с клавиатуры 10 целых чисел. Вычислите сумму введенных чисел. 

**Пример для проверки:**  
*Входные данные*  
8  
4  
5  
3  
9  
2  
3   
4  
5  
1  
*Выходные данные*  
44

In [ ]:
#using "for"
sum = 0
for i in range (10):
  number_input = int(input())
  sum += number_input
print(sum)

8
4
5
3
9
2
3
4
5
1
44

In [ ]:
#using "while"
counter = 0
sum = 0
while counter != 10:
  counter += 1
  i = int(input(f"Insert {counter} number: "))
  sum += i
print(sum)

Insert 1 number: 8
Insert 2 number: 4
Insert 3 number: 5
Insert 4 number: 3
Insert 5 number: 9
Insert 6 number: 2
Insert 7 number: 3
Insert 8 number: 4
Insert 9 number: 5
Insert 10 number: 1
44

## Задача №5

**Условие:** Факториалом числа n называется произведение 1 * 2 * ... * n. Обозначение: n!.
Введите с клавиатуры натуральное число n. Вычислите значение n!. 

В решении задачи нельзя использовать математическую библиотеку math.

**Пример для проверки:**  
*Входные данные*  
7  
*Выходные данные*  
5040

In [ ]:
result = 1
n = int(input())
for i in range (1, n+1):
  result *= i
print(result)

12
479001600